body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/

.header {
    /*background: linear-gradient(45deg, rgb(47, 43, 43), rgb(13, 16, 17))
    ,url("../img/header-bg.png");*/
    background: url("../img/header-bg.png");
    height: 1012px;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    z-index: -2;

}

.hidden {
    display: none;
}


.header-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -120px;
}

.header-decoration {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    /* background-color: rgba(0,0,0, 0.5);*/

}

.header-nav {
    display: flex;
    justify-content: space-between;

}

.header-logo-link {
    display: flex;
    text-decoration: none;
}

.header-logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    background: url("../img/polygon logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 67px;
    text-align: center;
    padding-top: 18px;
    margin-top: 26px;
}

.logo-first-part {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-left: 6px;
    margin-top: 38px;
}

.logo-second-part {
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
    font-weight: bold;
}

.header-nav-list {
    text-transform: uppercase;
    display: flex;
    margin-top: 49px;

}

.header-nav-list-item {
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    display: block;
}

.header-nav-list-item:after {
    display: block;
    position: absolute;
    bottom: -9px;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #18CFAB; /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
}

.header-nav-list-item:hover:after {
    transition: width 0.5s ease-out;
    width: 100%;
}

.header-nav-list-item:hover {
    transition: .3s;
    color: #18CFAB;
    cursor: pointer;

}


.header-nav-list-item a {
    display: block;
}

.header-nav-list-item:last-child {
    margin-right: 0;
}


.header-about-info {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 264px;
}

.header-about-info-second-part {
    color: #18CFAB;
}

.header-main-info {
    text-align: center;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 22px;
}

.header-secondary-info {
    text-align: center;
    font-size: 34px;
    color: #D4D4D4;
    margin-top: 22px;
}

/*BUTTONS*/

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 129px;
    position: relative;
}

.buttons div:first-child {
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    left: 411px;
    top: -5px;
    width: 154.5px;
    height: 64px;
    cursor: pointer;
}

.buttons div:nth-of-type(2) {
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    left: 592px;
    top: -5px;
    width: 156.5px;
    height: 64px;
    cursor: pointer;
}

.button {
    text-align: center;
    margin-right: 26px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    position: relative;
    display: block;
}

.button:hover {
    cursor: pointer;

}


.button.button-explore {
    background: #18CFAB;
    padding: 16px 18px 16px 17px;
}

.button.button-explore:hover {
    animation: leftRight 1s;
    background: -webkit-linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));
    background: -moz-linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));
    background: linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));
    transform: translate3d(0px, -5px, 0px);
    transition: transform .5s ease-in-out;
    /* transition-timing-function: cubic-bezier(.51,.27,0,1.15); */
    transition-timing-function: cubic-bezier(0, .8, .48, 1.14);


}

.button.button-purchase:hover {
    animation: leftRight 1s;

    animation-fill-mode: both;
    background: -webkit-linear-gradient(45deg, rgb(0, 203, 246), rgb(86, 181, 184));
    background: -moz-linear-gradient(45deg, rgb(0, 203, 246), rgb(86, 181, 184));
    background: linear-gradient(45deg, rgb(0, 203, 246), rgb(86, 181, 184));
    transform: translate3d(0px, -5px, 0px);
    transition: transform .5s ease-in-out;
    transition-timing-function: cubic-bezier(0, .8, .48, 1.14);

}

.button.button-purchase {
    margin-right: 0;
    background: #00CBF6;
    padding: 16px 11px 16px 12px;
}

/*ANIMATION(WHEN TRANSITION AND OPACITY DOESNT WORKS)*/

@keyframes leftRight {
    0% {
        background-size: 0;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

/*BIG CARDS BLOCK*/


.options-cards {
    display: flex;
    margin-top: 8px;
    width: 100vw;

}

.card-item-main {
    background: #1C2A33;
    width: 482px;
    height: 377px;

    display: flex;
    flex-direction: column;

}

.card-item-secondary {
    background: #18CFAB;
    width: 482px;
    height: 377px;

    display: flex;
    flex-direction: column;

}

.card-image-main {
    margin-top: 87px;
    height: 100px;
}

.card-image-secondary {
    height: 75px;
    margin-top: 98px;

}

.card-description-main {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
    margin-top: 47px;
}

.card-description-secondary {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 60px;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 83px;

}

/*SECONDARY TITLE WITH 2 LINES AFTER*/

.secondary-title {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    margin-bottom: 101px;
    position: relative;
}

.secondary-title::after {
    content: "";
    position: absolute;
    /*left: 630px;*/
    left: calc(50% - 45px);
    top: 64px;
    width: 79px;
    height: 1px;
    background: #18CFAB;
}

.secondary-title::before {
    content: "";
    position: absolute;
    /*left: 647px;*/
    left: calc(50% - 33px);
    top: 68px;
    width: 79px;
    height: 1px;
    background: #18CFAB;
}


/*TABS*/


.tabs {
    display: flex;
    align-self: center;
}

.tabs-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #717171;
    font-size: 15.9859px;
    line-height: 39px;
    cursor: pointer;
    width: 192px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    box-sizing: border-box;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
    transition: all 0.5s;
}

.tabs-title.tab-active {
    background: #18CFAB;
    color: #FFFFFF;;
    /*animation:  fadeIn 1s;*/
    transition: all .5s;
    /* transition: all .5s ease-in;*/
    position: relative;
}

.tabs-title.tab-active::after {
    position: absolute;
    content: "";
    bottom: -14px;
    left: calc(50% - 13.5px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 13.5px 0 13.5px;
    border-color: #18CFAB transparent transparent transparent;
    animation: fadeIn 1.5s;

}

.tabs-item {
    display: none;
    margin-top: 23px;
}


.tabs-item.tab-active {
    /*transition: all .3s ease-in;*/
    /*display: block;*/
    display: flex;
    /*opacity: 1;*/
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}


.tabs-item.tab-active {
    animation: fadeIn 1s;
}


.tabs-content {
    width: 1160px;
    margin: 0 auto;
}

.tab-image {
    width: 192px;
    height: 139px;
    object-fit: cover;

}

.tabs-item.tab-active img {

}

.tab-description {
    margin-left: 15px;

}


/*PURCHASE SECTION */

.purchase {
    background: linear-gradient(45deg, rgb(47, 43, 43), rgb(13, 16, 17)),
    url("../img/Sections background/section-2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    width: 100%;
    margin-top: 91px;
    padding-bottom: 127px;
}


.purchase-container {
    width: 1160px;
    margin: 0 auto;
}

.purchase-title {
    padding-top: 126px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    z-index: 1;

}

.purchase-description {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.single-button-container {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    position: relative;

}

/*WHITE BLOCK BEHIND THE BUTTON*/

.wtf {
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    left: 482.5px;
    top: -5px;
    width: 169px;
    height: 64px;
    cursor: pointer;
}

/*-----*/


/*OUR WORKS FILTER SECTION    */

.our-works {
    padding-top: 95px;
    background-color: #E9EDEF;
    min-height: 900px;
}

.container {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
}

.works-container {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
    padding-bottom: 40px;
}

.our-works-title {
    padding: 0 0 25px 0;
    font-size: 14px;
    text-transform: capitalize;
    min-width: 59px;
}

.our-works-title-list {
    /* display: grid;
    grid-template-columns: repeat(5,1fr); */
    display: flex;
    margin-bottom: 84px;
    justify-content: center;
    margin-top: 50px;
    width: 1140px;
    cursor: pointer;
}

.our-works-title-item {
    position: relative;
    padding: 22px 15px;
    font-size: 14px;
    color: #717171;
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
}


.our-works-title-item:first-child {
    border-left: 1px solid #DADADA;
}

/*.our-works-title-item:nth-of-type(2) {*/
/*    margin-left: 1px;*/
/*}*/

/*.our-works-title-item:nth-of-type(3) {*/
/*    margin-left: 1px;*/
/*}*/

.our-works-title-item.active {
    color: #18cfab;
    transition: .5s;

}

.our-works-title-item.active:before {
    content: "";
    z-index: 102;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -2px;
    left: -2px;
    border: 2px solid #18CFAB;
    animation: fadeIn 1s;
}

.our-works-gallery {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    padding-bottom: 70px;

}


.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.our-works-gallery-card {
    position: relative;
    box-sizing: border-box;
    height: 205px;
    width: 285px;

}

.our-works-gallery-card:hover {
    cursor: pointer;
}


.our-works-gallery-img {
    width: 285px;
    height: 205px;
    object-fit: cover;

}

.img-card-icon-wrap {
    opacity: 0;
    width: 0;
    height: 0;
}

.our-works-gallery-card:hover .img-card-icon-wrap {
    padding-top: 46px;
    display: block;
    width: 285px;
    height: 211px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-top: 2px solid #18cfab;
    background: #E9EDEF;
    text-align: center;
    transition: opacity 0.6s;
}

.img-card-icon {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
    background-color: #E9EDEF;
}

.img-card-icon:hover {
    color: #FFFFFF;
    background-color: #18cfab;
}

.img-card-title {
    padding-top: 33px;
    color: #18CFAB;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: bold;

}

.img-card-category {
    padding-top: 5px;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
    text-transform: capitalize;
}

.our-works-gallery-card.hidden {
    display: none;

}

.load-more-btn {
    display: block;
    width: 165px;
    height: 60px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #18cfab;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    position: relative;
}

.load-more-btn:hover {
    animation: leftRight 1.5s;
    background: -webkit-linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));
    background: -moz-linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));
    background: linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));
    transition: .5s;
}

.load-more-btn:before {
    content: "+";
    padding-right: 15px;
    vertical-align: sub;
    font-size: 26px;
    font-weight: 700;
}

.load-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 90px;

}

/*ANIMATION WHILE SETTIMEOUT*/

.centered {

    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    /*filter: blur(1px);*/
    display: none;
}


figure {
    margin-top: -10px;
    transform: translate(-50%, -50%) rotate(0deg) scale(1.4, 1.4);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 150px;
    box-sizing: border-box;
    animation: rotation 20s infinite linear;

}

figure div:after {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: #18CFAB !important;

    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 20px;
    animation: shuffle 2s infinite;
}

figure div:nth-child(1) {
    transform: rotate(0deg)
}

figure div:nth-child(1):after {
    animation-delay: -0.5s;
}

figure div:nth-child(2) {
    transform: rotate(45deg)
}

figure div:nth-child(2):after {
    animation-delay: -1s;
}

figure div:nth-child(3) {
    transform: rotate(90deg)
}

figure div:nth-child(3):after {
    animation-delay: -1.5s;
}

figure div:nth-child(4) {
    transform: rotate(135deg)
}

figure div:nth-child(4):after {
    animation-delay: -2s;
}

figure div:nth-child(5) {
    transform: rotate(180deg)
}

figure div:nth-child(5):after {
    animation-delay: -2.5s;
}

figure div:nth-child(6) {
    transform: rotate(225deg)
}

figure div:nth-child(6):after {
    animation-delay: -3s;
}

figure div:nth-child(7) {
    transform: rotate(270deg)
}

figure div:nth-child(7):after {
    animation-delay: -3.5s;
}

figure div:nth-child(8) {
    transform: rotate(315deg)
}

figure div:nth-child(8):after {
    animation-delay: -4s;
}

@keyframes rotation {
    100% {
        transform: translate(-50%, -50%) rotate(-360deg) scale(1.4, 1.4);
    }
}

@keyframes shuffle {
    50% {
        transform: scale(0.4, 0.4) rotate(-90deg);
        border-radius: 50%;
    }
}

/*////*/


/*BREAKING NEWS/POST SECTION*/

.breaking-news-container {
    margin: 0 auto;
    width: 1160px;
    padding-top: 82px;
    padding-bottom: 120px;
}


.posts-container {
    display: flex;
    flex-wrap: wrap;
}

.image-post {
    background: url("../img/bn1.png");
    width: 263px;
    height: 208px;
    position: relative;
    box-sizing: border-box;
}

.image-post2 {
    background: url("../img/bn2.png");
    width: 263px;
    height: 208px;
    position: relative;
    box-sizing: border-box;
}

.image-post3 {
    background: url("../img/bn3.png");
    width: 263px;
    height: 208px;
    position: relative;
    box-sizing: border-box;
}

.image-post4 {
    background: url("../img/bn4.png");
    width: 263px;
    height: 208px;
    position: relative;
    box-sizing: border-box;
}

.image-post5 {
    background: url("../img/bn5.png");
    width: 263px;
    height: 208px;
    position: relative;
    box-sizing: border-box;
}

.image-post6 {
    background: url("../img/bn6.png");
    width: 263px;
    height: 208px;
    position: relative;
    box-sizing: border-box;
}

.image-post7 {
    background: url("../img/bn7.png");
    width: 263px;
    height: 208px;
    position: relative;
    box-sizing: border-box;
}

.image-post8 {
    background: url("../img/bn8.png");
    width: 263px;
    height: 208px;
    position: relative;
    box-sizing: border-box;
}

.date-info {
    position: absolute;
    top: 0;
    right: 0;
    background: #203E38;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
}

.posts-container a {
    display: block;
    margin-right: 35px;
    margin-bottom: 45px;
}

.posts-container a:nth-child(4n+4) {
    margin-right: 0;
}

.post:hover {
    cursor: pointer;
}

.post:hover .card-title {
    color: #18cfab;
    cursor: pointer;
    animation: fadeIn .5s;
}

.post:hover .date-info {
    background-color: #18cfab;
    cursor: pointer;
    animation: fadeIn .5s;
}


.card-title {

    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    margin-left: 22px;
}

.card-description {
    display: flex;
    padding-bottom: 5px;
}

.card-creator {
    font-size: 13.991px;

    color: #777777;
    margin-top: 5px;

    margin-right: 28px;
    margin-left: 18px;
    position: relative;
}

.card-creator::after {
    content: "";
    position: absolute;
    top: 0;
    left: 81px;
    width: 1px;
    height: 12px;
    background-color: #777777;
}

.card-comments {
    font-size: 13.991px;
    color: #777777;
    margin-top: 5px;

}


/*REVIEWS SLIDER SECTION */

.reviews {
    padding: 105px 0;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    url("../img/Sections background/section-3.jpg");
    color: #a3a7a8;
    font-size: 16px;
    background-attachment: fixed;
    background-size: cover;
}

.reviews-title {
    padding-bottom: 30px;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    position: relative;
}

.reviews-title::after {
    content: "";
    position: absolute;
    /*left: 630px;*/
    left: calc(50% - 45px);
    top: 64px;
    width: 79px;
    height: 1px;
    background: #18CFAB;
}

.reviews-title::before {
    content: "";
    position: absolute;
    /*left: 647px;*/
    left: calc(50% - 33px);
    top: 68px;
    width: 79px;
    height: 1px;
    background: #18CFAB;
}

.slider {
    margin-top: 70px;
}

.quotes {
    width: 45px;
}

.slider-comment {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-wrapper {
    position: relative;
    height: 425px;
    width: 100%;
}

.slider-user-review {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.slider-user-review.active {
    opacity: 1;
    transition: 1s;
    animation: fadeIn 1s;
}

.slider-user-data-name {
    padding-bottom: 15px;
    font-size: 20px;;
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-user-data-profession {
    padding-bottom: 35px;
}

.slider-user-foto-big {
    display: inline-block;
    margin-bottom: 70px;
    height: 145px;
    width: 145px;
    box-sizing: border-box;
    border: 2px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #18cfab50;
    overflow: hidden;
    object-fit: cover;
}

.slider-area {
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    user-select: none
}

.arrow-left {
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    line-height: 30px;
}

.arrow-right {
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    line-height: 30px;
}

.arrow-left:hover, .arrow-right:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.slider-wrapper {
    display: flex;
    width: 370px;
    justify-content: space-between;
}

.slider-user-foto-small {
    position: relative;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #18cfab50;
    overflow: hidden;
    object-fit: cover;
}

.slider-user-foto-small.active {
    border: 1px solid #18cfab;
    transform: translate3d(0px, -20px, 0px);
    transition: transform .5s ease-in-out;
    cursor: pointer;
}

.slider-user-foto {
    height: auto;
    width: 100%;
    object-fit: cover;
    cursor: pointer;

}


/*!*GALLERY(BEST IMAGES)*/

.gallery {
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.0001);
}

.small333-grid {
    width: 372px;
    position: relative;
    top: 0;
    right: 2px;
    display: flex;
    flex-wrap: wrap;
}


.gallery-main-item {
    position: relative;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;

}


.icons-gallery-wrapper {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 39%;


}

.icon-gallery.fas.fa-expand {
    color: white;

}

.icon-block:hover .icon-gallery.fas.fa-expand {
    color: #14B9D5;

    transition: .5s;
    transform: scale(1.2);
}

.icon-block:hover .icon-gallery.fas.fa-search {
    color: #14B9D5;

    transition: .5s;
    transform: scale(1.2);
}

.icon-block:hover {
    background: white;
    transition: .5s

}

.icon-block:nth-of-type(2):hover {
    background: white;
    transition: .5s

}

.icon-gallery.fas.fa-search {
    color: white;

}

.icon-block {
    background: #14B9D5;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;

}

.icon-block:nth-of-type(2) {
    background: #14B9D5;
    position: absolute;
    top: 0;
    left: 55px;

}

.gallery-main-item:hover {
    cursor: pointer;
    transition: .5s
}

.gallery-main-item:hover .icons-gallery-wrapper {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);

    z-index: 33;
}

.gallery-main-item:hover .gallery-img {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}


.load-more-btn-gallery {
    display: block;
    width: 165px;
    height: 60px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #18cfab;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    position: relative;
}

/*.load-more-btn-gallery:hover {*/
/*    background: -webkit-linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));*/
/*    background: -moz-linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));*/
/*    background: linear-gradient(45deg, rgb(24, 207, 171), rgb(86, 181, 184));*/
/*    transition: .5s;*/
/*}*/

/*.load-more-btn-gallery:before{*/
/*    content: "+";*/
/*    padding-right: 15px;*/
/*    vertical-align: sub;*/
/*    font-size: 26px;*/
/*    font-weight: 700;*/
/*}*/

.secondary-bi-grid {
    display: flex;
}

.small-img-wrap {
    position: relative;
}

.small-img-wrap:nth-of-type(1) {
    margin-right: 6px;
}

.small-img-wrap:nth-of-type(1):hover .sec-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.small-img-wrap:nth-of-type(2):hover .sec-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.icons-gallery-wrapper-small {
    opacity: 0;
    position: absolute;
    top: 37%;
    left: 27%;
}

.small-img-wrap:nth-of-type(1):hover .icons-gallery-wrapper-small {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.small-img-wrap:nth-of-type(2):hover .icons-gallery-wrapper-small {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}


/* tiny images hovers */

.tiny-img-wraper {
    position: relative;
    margin-right: 5px;
}

.tiny-img-wraper:nth-of-type(3n) {
    margin-right: 0;
}

.icons-gallery-wrapper-tiny {
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 14%;
}

.tiny-img-wraper:nth-of-type(1):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(1):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.tiny-img-wraper:nth-of-type(2):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(2):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.tiny-img-wraper:nth-of-type(3):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(3):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.tiny-img-wraper:nth-of-type(4):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(4):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.tiny-img-wraper:nth-of-type(5):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(5):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.tiny-img-wraper:nth-of-type(6):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(6):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.tiny-img-wraper:nth-of-type(7):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(7):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.tiny-img-wraper:nth-of-type(8):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(8):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}

.tiny-img-wraper:nth-of-type(9):hover .icons-gallery-wrapper-tiny {
    opacity: 1;
    background: rgba(0, 0, 0, 0.64);
    transition: .5s;
    z-index: 33;
}

.tiny-img-wraper:nth-of-type(9):hover .sec-small-item {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    transition: .5s;
}


/* footer */

footer {
    background: #22353F;
    height: 121px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

}

.footer-container {
    width: 1160px;
    height: 121px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-container span {
    color: #1AA890;
    margin-left: 2px;
    margin-right: 2px;
}

.footer-container a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

